<!-- Top Navigation Menu -->
<div class="efw-topnav" id="myTopnav">
  <div>
    <a id="menuListGames" routerLink="/games"><img width="20px" height="20px" src="assets/boardGame.svg"/> Board Game Nerd!</a>
    <a *ngIf="!isBackendMocked" id="menuCreateGames" routerLink="/games/addGame">
    Crear <img class="lmargin" width="20px" height="20px" src="{{imageService.getImageUrl('crear', 'jpg')}}"/>
    </a>
    <a id="purchases" routerLink="/purchases">
      Compras
    </a>
  </div>
  <div class="efw-dropdown user-menu" *ngIf="constants">
    <button class="efw-dropbtn">{{ 'APP_MENU.NUM_DAYS' | translate }} : {{constants.numDaysSinceLastBuy}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="efw-dropdown-content">
      <a (click)="buy()">
        <img width="20px" height="20px" src="{{imageService.getImageUrl('compra', 'png')}}"/> {{ 'APP_MENU.BUY' | translate }}
      </a>
    </div>
  </div>
  <div class="user-menu" *ngIf="constants">
    <p>
      <img class="lmargin" width="20px" height="20px" src="{{imageService.getImageUrl('calendar', 'png')}}"/> {{ 'APP_MENU.LAST_BUY_DATE' | translate }} : {{constants.lastBuyDate}}
    </p>
  </div>
  <a href="javascript:void(0);" class="efw-icon" (click)="displayMobileNavBar()">
    <i class="fa fa-bars"></i>
  </a>
</div>
