.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
}

.gameimg {
  width: 500px;
  height: 500px;
  display:block;
  margin:auto;
}

h2 {
  margin-bottom: 50px;
}

.movebtn {
  opacity: 0.2;
  background-color: #f9f9f9;
  transition: 0.3s;
}


.movebtn:hover {
  opacity: 1;
}
