<div class="flexbox" *ngIf="game">
  <div class="col">
    <button class="movebtn" title="Anterior" (click)="previousGame()" *ngIf="games && canBePrevious()">
      <img class="icon" src="{{imageService.getImageUrl('anterior', 'png')}}"/>
    </button>
    <table width="100%" height="100%" align="center" valign="center">
      <tr><td>
        <img class="gameimg" src="{{imageService.getGameImageUrl(game.imageUrls[0])}}" *ngIf="game.name"/>
      </td></tr>
    </table>
  </div>
  <div class="col">
    <button class="movebtn" style="float:right" title="Siguiente" (click)="nextGame()" *ngIf="games && canBeNext()">
      <img class="icon" src="{{imageService.getImageUrl('siguiente', 'png')}}"/>
    </button>
    <h2>{{game.name}}</h2>
    <div style="display: -webkit-inline-box;">
      <div class="form-group">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('player', 'png')}}"/>
          <label class="lmargin"> mín:</label>
        </div>
        <input [(ngModel)]="game.minPlayers" name="MinPlayers" type="number" placeholder="0" class="form-control" id="MinPlayers">
      </div>
      <div class="form-group lmargin">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('player', 'png')}}"/>
          <label class="lmargin"> máx:</label>
        </div>
        <input [(ngModel)]="game.maxPlayers" name="MaxPlayers" type="number" placeholder="0" class="form-control" id="MaxPlayers">
      </div>
      <div class="form-group lmargin">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('theme', 'png')}}"/>
          <label class="lmargin" for="themeselect">Temática:</label>
        </div>
        <input [(ngModel)]="game.theme" name="Theme" class="form-control" id="Theme">
      </div>
      <div class="form-group lmargin">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('complexity', 'png')}}"/>
          <label class="lmargin">Complejidad:</label>
        </div>
        <input [(ngModel)]="game.complexity" name="Complexity" class="form-control" id="Complexity">
      </div>
    </div>
    <div>
      <div class="ifdiv">
        <img class="icon" src="{{imageService.getImageUrl('location', 'jpg')}}"/>
        <label class="lmargin">Ubicación:</label>
      </div>
    </div>
    <div class="form-group" *ngIf="masters && masters.locations">
      <div class="ifdiv" style="width:100%" *ngIf="game.location">
        <select class="form-control" [(ngModel)]="game.location.id" #LocationSelect="ngModel" name="LocationSelect" id="Locations">
          <option *ngFor="let location of masters.locations" [ngValue]="location.id">{{location.name}}</option>
        </select>
        <button *ngIf="!isBackendMocked" title="Confirmar" class="lmargin" (click)="moveGame()">
          <img class="icon" src="{{imageService.getImageUrl('ok', 'png')}}"/>
        </button>
      </div>
    </div>
    <div>
      <div class="ifdiv">
        <img class="icon" src="{{imageService.getImageUrl('duration', 'png')}}"/>
        <label class="lmargin"> última jugada:</label>
      </div>
    </div>
    <div class="form-group">
      <div class="ifdiv" style="width:100%">
        <input [(ngModel)]="game.lastPlayedDate" name="LastPlayedDate" class="form-control" id="LastPlayedDate">
        <button *ngIf="!isBackendMocked" class="lmargin" title="Registrar jugada" (click)="registerPlay()">
          <img class="icon" src="{{imageService.getImageUrl('jugar', 'png')}}"/>
        </button>
      </div>
    </div>
    <div style="display: -webkit-inline-box;">
      <div class="form-group">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('medium', 'png')}}"/>
          <label class="lmargin" for="mediumselect">Medio:</label>
        </div>
        <input [(ngModel)]="game.medium" name="Medium" class="form-control" id="Medium">
      </div>
      <div class="form-group lmargin">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('style', 'png')}}"/>
          <label class="lmargin" for="styleselect">Estilo:</label>
        </div>
        <input [(ngModel)]="game.style" name="Style" class="form-control" id="Style">
      </div>
      <div class="form-group lmargin">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('victory', 'jpg')}}">
          <label class="lmargin">Victoria:</label>
        </div>
        <input [(ngModel)]="game.victory" name="Victory" class="form-control" id="Victory">
      </div>
      <div class="form-group lmargin">
        <div class="ifdiv">
          <img class="icon" src="{{imageService.getImageUrl('duration', 'png')}}">
          <label class="lmargin">Duración:</label>
        </div>
        <input [(ngModel)]="game.duration" name="Duration" class="form-control" id="Duration">
      </div>
    </div>
    <div class="form-group">
      <div class="ifdiv">
        <img class="icon" src="{{imageService.getImageUrl('description', 'jpg')}}"/>
        <label class="lmargin" for="name">Descripción:</label>
      </div>
      <textarea style="resize: none" [(ngModel)]="game.description" name="Description" class="form-control" id="Description"></textarea>
    </div>
    <!--<div class="form-group">-->
      <div class="ifdiv">
        <img class="icon" src="{{imageService.getImageUrl('score', 'png')}}"/>
        <label class="lmargin" for="name">Puntuaciones:</label>
      </div>
      <app-scores [gameId]="gameId" [scoreInfo]="game.scoreInfo" *ngIf="game.scoreInfo"></app-scores>
    <!--</div>-->
  </div>
</div>

