.no-data-available {
  text-align: center;
}

p {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.container {
  height: 100px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
