/* You can add global styles to this file, and also import other style files */
.dataTables_empty {
  display: none;
}

.flex-div {
  display: flex;
}

@media screen and (max-width: 768px) {
  .flex-div {
    display: block;
  }
  .mobhide {
    visibility: hidden
  }
}

.ifdiv {
  display: inline-flex;
}

.lmargin {
  margin-left: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  display:block;
  margin:auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
