<div class="form-group" *ngIf="purchases">
  <p><b>Coste total de las compras: {{summedAmount()}} !!!</b></p>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>{{ 'COMMON.NAME' | translate }}</th>
      <th class="mobhide">
        {{ 'COMMON.AMOUNT' | translate }}
      </th>
      <th class="mobhide">
        {{ 'COMMON.DATE' | translate }}
      </th>
    </tr>
  </thead>
  <tbody *ngIf="purchases">
    <tr *ngFor="let purchase of purchases">
      <td>{{purchase.name}}</td>
      <td>{{purchase.amount}}</td>
      <td>{{purchase.date}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="!purchases">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>
